<app-header></app-header>

<div class="team-review-container">
  <div class="header-container">
    <h2 class="heading">Team’s Review FY 2024 - 25</h2>
    <div class="search-container">
      <label for="search">Search By</label>
      <div class="custom-search">
        <i class="fas fa-search search-icon"></i>
        <input type="text" id="search" placeholder="Type Employee ID or Name" />
      </div>
      <button class="go-to-self"><i class="fas fa-user"></i> Go to Self</button>
    </div>
  </div>

  <app-team-review-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
  ></app-team-review-table>
</div>

<app-footer></app-footer>
